<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context-2.5.xsd
                       http://www.springframework.org/schema/aop
                       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                       http://www.springframework.org/schema/tx
                       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- data source 基本的连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>

		<!-- <property name="url" value="jdbc:mysql://w.rdc.sae.sina.com.cn:3307/app_hblogs"/> 
		<property name="username" value="yoj1ozm53w"/>
		<property name="password" value="l5y0yzzlh5lmwjy5ll4hi5j2k4zzi1myy4j2kmi4"/>
		<property name="maxWait"            value="1000" />
        <property name="initialSize"        value="5" />
        <property name="maxActive"          value="20" />
        <property name="maxIdle"            value="5" />
        <property name="testWhileIdle"      value="true" />
        <property name="timeBetweenEvictionRunsMillis"  value="15000" />
        <property name="numTestsPerEvictionRun"         value="20" />
        <property name="validationQuery"    value="SELECT 1 FROM DUAL" />
        <property name="removeAbandoned"    value="true" />
        <property name="removeAbandonedTimeout"         value="180" /> -->

		<property name="url" value="jdbc:mysql://localhost:3306/framework?useUnicode=true&amp;characterEncoding=utf8"/> 
		<property name="username" value="root"/>
		<property name="password" value="123456"/>
		<property name="initialSize" value="5"/>
		<property name="maxActive" value="50"/>
		<property name="maxIdle" value="10"/>
		<property name="maxWait" value="20"/>
		<property name="minIdle" value="1"/>
	</bean>
	
	<!-- Hibernate3 Session Factory: 注意这里使用的是AnnotationSessionFactoryBean -->
	<!-- 这里配置后就可以省去Hibernate的与持久类对应的.hbm.xml文件了，持久类使用注释@Entity-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<!-- 使用注解的持久类的包-->
		<property name="packagesToScan">
			<list>
				<value>net.huosen.msg.model</value>
			</list>
		</property>
	</bean>
	
	<!-- 用于在Dao中使用 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 使用annotation 注入bean -->
	<context:annotation-config></context:annotation-config>
	<!-- 扫描bean的包路径 -->
 	<context:component-scan base-package="net.huosen.msg.*" />
	
	<!-- Transaction Manager 事务管理器-->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="txManager">
  		<tx:attributes>
  			<tx:method name="add*" propagation="REQUIRED"/>
  			<tx:method name="insert*" propagation="REQUIRED"/>
  			<tx:method name="save*" propagation="REQUIRED"/>
  			<tx:method name="update*" propagation="REQUIRED"/>
  			<tx:method name="edit*" propagation="REQUIRED"/>
  			<tx:method name="delete*" propagation="REQUIRED"/>
  			<tx:method name="remove*" propagation="REQUIRED"/>
  			<!-- other methods  -->
		    <tx:method name="*" read-only="true"/>
  		</tx:attributes>
  	</tx:advice>
  	<aop:config>
  		<aop:pointcut id="serviceOperation" expression="execution(* net.huosen.msg.service..*.*(..))"/>
  		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
  	</aop:config>
</beans>